{% extends '::base.html.twig' %}

        {% block title %}Application{% endblock %}


        {% block stylesheets %}

            {{ parent() }}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('nested_application') }}

        {% endblock %}





{% block body %}

    {{ parent() }}


    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="h-space10"></div>
                <div class="col-lg-12">
                    <h2>page d'accueil</h2>
                </div>
                <div class="h-space100"></div>



                <a class="nav-link" href="{{ path('default_recept') }}">vers recept (sans ?wsdl)</a>
                <a class="nav-link" href="{{ path('default_client') }}"> vers client</a>


                <div class="col-lg-12">


                </div>


                <div class="h-space10"></div>


                <div class="col-lg-12">


                </div>

            </div>
        </div>
    </div>




    {% block javascripts %}
        {{ parent() }}

        {{ encore_entry_script_tags('nested_application') }}

    {% endblock %}

{% endblock %}
