@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.css';


body {
    background-color: lightgray;
}

.h-space10 {
    height: 10px;
}

.h-space100 {
    height: 100px;
}