$kitten: pink;

body {
    background-color: #FCFCFC;
}


.g-form {
    background-color: #FFF;
    padding: 12px 0;
}

.c-red {
    color: red;
}

.width150 {
    width: 150px;
}

.g-line {
    border-bottom: 6px solid #FBFBFB;
}